.wrap-panel {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.m-10{
    margin: 10px;
}

.grid2x2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
}
.cell {
    background: #eef;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.infoForm{
    display: flex;
    flex-direction: column;
}