Pillow==10.4.0
supervision==0.26.1
numpy==1.26.4
tqdm==4.67.1
opencv-python==4.11.0.86
albumentations==2.0.8
pandas>=2.0,<2.2
opencv-python==4.11.0.86
matplotlib==3.8.0
ultralytics==8.3.225
python-dotenv==1.2.1