@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-medical-50 text-medical-900 antialiased;
    }
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
    @apply bg-medical-200 rounded-full hover:bg-medical-500 transition-colors;
}